@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap&subset=chinese-traditional');
body {
    font-family: "Noto Sans TC", "Microsoft Yahei", "微軟雅黑", sans-serif;
}
.topcenter {
    display: flex;
    justify-content: center;
}
.top {
    text-indent: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 100%;
}
.left-div {
    font-size: 30px;
    color: #448899;
    font-weight: bold;
    cursor: pointer;
}
.modal-header{
    background-color: #448899;
    height: 10px;
    width: 340px;
    top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
}
.modal-header2{
    background-color: #448899;
    height: 10px;
    width: 340px;
    top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
}
#logout{
    display:none;
}
.exit{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-indent: 10px;
}
.modal-content h3{
    font-size: 24px;
    color:#666;
    font-weight: bold;
    margin-bottom: 10px;
}
.modal-content {
    background-color: #FFF;
    padding: 20px;
    color:#757575;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    width: 300px;
    height: 240px;
    display: flex;
    top: 30px;
    align-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .modal-content2 h3{
    font-size: 24px;
    color:#666;
    font-weight: bold;
    margin-bottom: 10px;
}
  .modal-content2 {
    background-color: #FFF;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#757575;
    position: relative;
    width: 300px;
    height: 300px;
    top: 30px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .icon-close{
    position: absolute;
    right: 5%;
    cursor: pointer;
}
/* for login */
.modal {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
}
.signupModal{
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
}
.emailinput{
    color: #757575; 
    font-size: 16px; 
    width: 310px;
    height: 50px;
}
.passwordinput{
    color: #757575; 
    font-size: 16px; 
    width: 310px;
    height: 50px;
}
.nameinput{
    color: #757575; 
    font-size: 16px; 
    width: 310px;
    height: 50px;
}
.nameinput input {
    display: flex;
    width: 100%;
    padding: 15px;
    opacity: 0.9;
    column-gap: 20px;
    height: 100%;
    row-gap: 20px;
    box-sizing: border-box;
}
.passwordinput input {
    display: flex;
    width: 100%;
    padding: 15px;
    opacity: 0.9;
    column-gap: 20px;
    height: 100%;
    row-gap: 20px;
    box-sizing: border-box;
}
.emailinput input {
    display: flex;
    width: 100%;
    padding: 15px;
    opacity: 0.9;
    column-gap: 20px;
    height: 100%;
    row-gap: 20px;
    box-sizing: border-box;
}
#loginForm{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
#signupForm{
    display: flex;
    flex-direction: column;
    row-gap: 5px; 
}
#loginButton{
    display: flex;
    border-radius: 5px;
    background-color:#489;
    width:310px;
    height:50px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color:#FFF;
    font-size: 20px;
    border: 0.5px;
    margin-bottom: 10px;
    cursor: pointer;
}
#signupButton{
    display: flex;
    border-radius: 5px;
    background-color:#489;
    width:310px;
    height:50px;
    border: 0.5px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color:#FFF;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.signuptitle {
    text-decoration: underline;
    cursor: pointer;
}
.logintitle {
    text-decoration: underline;
    cursor: pointer;
}
.message-container{
    display: none;
    margin: 1px;
}
.message-container2{
    display: none;
    margin: 3px;
}
.success {
    color: green;
}
.error {
    color: red;
}

.right-div {
    display: flex;
    color: #666666;
    font-size: 16px;
    column-gap: 10px;
}
.right-div > :last-child,
.right-div > :nth-last-child(2) {
    margin-right: 10px;
    cursor: pointer;
}
.upperhr {
    display: none;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.images-container {
    position: relative;
    display: inline-block;
    margin-top: 0;
}
.image{
    width: 100%;
    height: 350px;
    display: block;
    position: relative;
    border-top: 0.5px solid #ccc;
    border-color: lightgray;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    object-fit: cover;
    object-position: center;
    background-size: 100% 100%;
}
.left-button {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius:50%;
    width:36px;
    height:36px;
    padding:5px;
    cursor: pointer;
}

.right-button {
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius:50%;
    width:36px;
    height:36px;
    padding:5px;
    cursor: pointer;
}
/* .image-buttons{
    display:flex;
}
.image-dot{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 0.5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.image-dot.active {
    background-color: #000;
} */
.circle{
    position:absolute;
    bottom:15px;left: 50%;
    transform:translateX(-50%);
    display:flex;
}
.circle-a{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 0.5px solid rgb(255, 255, 255,0.5);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    transform: translateX(-50%);
    color: white;
    opacity:0.8;
}
.tourment{
    padding: 10px;
    /* margin-bottom:30px; */
}
.reservation{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    letter-spacing: 1px;
}
.reservation-title{
    color:#666666;
    font-size:24px;
    font-weight: 900;
}
.reservation-subtitle{
    color:#666666;
}
.reservation-content{
    background-color: #E8E8E8;
    color:#666666;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}
.reservation-tour{
    color:#666666;
    font-size: 16px;
    font-weight: 900;
}
.reservation-description{
    font-size: 16px;
    color:#666666;
    font-weight: 100;
    opacity: 0.8;
}
.reservation-date{
    color:#666666;
    font-size: 16px;
    display:flex;
    align-items: center;
}
.date-title{
    font-weight: 900;
}
.date{
    width: 170px;
    height: 25px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.date input {
    border: none; /* 移除輸入框的邊框 */
    outline: none; /* 移除點擊時的輪廓 */
    width: 170px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 24px; 
    height: 24px; 
    background-image: url('/static/images/icon_calendar.svg'); 
    cursor: pointer; 
}
/* input[type="date"]::-webkit-calendar-picker-indicator { */
    /* display: none; */
    /* opacity: 0; */
/* } */
/* .date::after {
    content: " ";
    display: inline-block;
    width: 24px; 
    height: 24px;
    background-image: url('{{ url_for('static', filename='images/icon_calendar.svg') }}'); /* 添加自定义图标的URL */
    /* background-size:cover ; /* 让图标充满伪元素 */
    /* cursor: pointer; /* 鼠标指针变成手型，表示可点击 */
/* } */ 
/* .custom-date-icon {
    width: 24px;
    height: 24px; 
    cursor: pointer; 
    background-image: url('/static/images/icon_calendar.svg'); 
    background-size: cover;
} */
.calendar{
    width:24px;
    height:24px;
}
.morning-btn{
    border:50%;
    border-radius: 50%;
    background-color: #448899;
    width: 18px;
    height: 18px;
    border-color: #FFFF;
    border-width: 2px;
    border-style:solid;
    cursor: pointer;
}
.afternoon-btn{
    border:50%;
    border-radius: 50%;
    background-color: #FFFF;
    width: 18px;
    height: 18px;
    border-color: #FFFF;
    border-width: 2px;
    border-style:solid;
    cursor: pointer;
}
.reservation-time{
    display:flex;
    color:#666666;
    column-gap: 5px;
    align-items: center;
}
.time-title{
    font-weight: 900;
}
.reservation-fare{
    color:#666666;
    font-size: 16px;
    display:flex;
}
.fare-title{
    font-weight: 900;
}
.reservation-button{
    color:#FFFFFF;
    font-size: 19px;
    background-color: #448899;
    height:35px;
    padding:10px 20px 10px 20px;
    border-radius:5px;
    display: flex;
    align-items: center;
}
.lowerhr{
    display: block;
    background-color: #E8E8E8;
    margin-bottom: 30px;
    height: 1px;
    border: none;
    margin:0;
}
.content{
    padding:20px;
    color:#666666;
    font-size:16px;
    display:flex;
    row-gap: 10px;
    flex-direction: column;
    letter-spacing: 1px;
    line-height: 24px;
}
.description{
    opacity: 0.8;
    display:flex;
    row-gap:10px;
    margin-top: 20px;
    flex-direction: row;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 24px;
}
.address-title{
    font-weight:bold;
    margin-top: 10px;
}
.address{
    opacity: 0.8;
}
.transportation-title{
    font-weight:bold;
    margin-top: 20px;
}
.transportation{
    margin-bottom:100px;
    opacity: 0.8;
}
footer {
    position: absolute;
    font-size: 16px;
    background-color: #757575;
    color: #ffff;
    height: 105px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    line-height: 50px;
}
@media screen and (min-width: 600px) and (max-width: 1200px){
    .container{
        width:80%
    }
    .images-container{
        width:100%;
    }
    .image{
        height:100%;
    }
}
@media screen and (min-width: 1200px) {
    .top {
        width: 1200px;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .upperhr{
        display: block;
        background-color: #E8E8E8;
        margin-bottom: 30px;
        height: 1px;
        border: none;
    }
    .container{
        display:flex; 
        width:1200px; 
        justify-content: space-between;
        height: 400px;
    }
    .image{
        width: 540px;
        height:400px;
        margin: 0;
    }
    .reservation-content{
        width:600px;
        height:260px;
    }
    .wrapper2{
        display:flex;
        justify-content: center;
    }
    .content{
        width:1200px;
    }
    .container{
        margin-bottom: 20px;
    }
    footer {
        font-size: 16px;
        background-color: #757575;
        color: #ffff;
        height: 105px;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        left: 0;
        bottom: 0;
        position: relative;
        line-height: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}