@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap&subset=chinese-traditional');
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
body {
    font-family: "Noto Sans TC", "Microsoft Yahei", "微軟雅黑", sans-serif;
}

.top {
    text-indent: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 100%;
}

.left-div {
    font-size: 30px;
    color: #448899;
    font-weight: bold;
}
.modal-header{
    background-color: #448899;
    height: 10px;
    width: 340px;
    top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
}
.modal-header2{
    background-color: #448899;
    height: 10px;
    width: 340px;
    top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
}
#logout{
    display:none;
}
.exit{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-indent: 10px;
}
.modal-content h3{
    font-size: 24px;
    color:#666;
    font-weight: bold;
    margin-bottom: 10px;
}
.modal-content {
    background-color: #FFF;
    padding: 20px;
    color:#757575;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    width: 300px;
    height: 240px;
    display: flex;
    top: 30px;
    align-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .modal-content2 h3{
    font-size: 24px;
    color:#666;
    font-weight: bold;
    margin-bottom: 10px;
}
  .modal-content2 {
    background-color: #FFF;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#757575;
    position: relative;
    width: 300px;
    height: 300px;
    top: 30px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .icon-close{
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.icon-close2{
    position: absolute;
    right: 5%;
    cursor: pointer;
}
/* for login */
.modal {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
}
.signupModal{
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
}
.emailinput{
    color: #757575; 
    font-size: 16px; 
    width: 310px;
    height: 50px;
}
.passwordinput{
    color: #757575; 
    font-size: 16px; 
    width: 310px;
    height: 50px;
}
.nameinput{
    color: #757575; 
    font-size: 16px; 
    width: 310px;
    height: 50px;
}
.nameinput input {
    display: flex;
    width: 100%;
    padding: 15px;
    opacity: 0.9;
    column-gap: 20px;
    height: 100%;
    row-gap: 20px;
    box-sizing: border-box;
}
.passwordinput input {
    display: flex;
    width: 100%;
    padding: 15px;
    opacity: 0.9;
    column-gap: 20px;
    height: 100%;
    row-gap: 20px;
    box-sizing: border-box;
}
.emailinput input {
    display: flex;
    width: 100%;
    padding: 15px;
    opacity: 0.9;
    column-gap: 20px;
    height: 100%;
    row-gap: 20px;
    box-sizing: border-box;
}
#loginForm{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
#signupForm{
    display: flex;
    flex-direction: column;
    row-gap: 5px; 
}
#loginButton{
    display: flex;
    border-radius: 5px;
    background-color:#489;
    width:310px;
    height:50px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color:#FFF;
    font-size: 20px;
    border: 0.5px;
    margin-bottom: 10px;
    cursor: pointer;
}
#signupButton{
    display: flex;
    border-radius: 5px;
    background-color:#489;
    width:310px;
    height:50px;
    border: 0.5px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color:#FFF;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.signuptitle {
    text-decoration: underline;
    cursor: pointer;
}
.logintitle {
    text-decoration: underline;
    cursor: pointer;
}
.message-container{
    display: none;
    margin: 1px;
}
.message-container2{
    display: none;
    margin: 3px;
}
.success {
    color: green;
}
.error {
    color: red;
}
.right-div {
    display: flex;
    color: #666666;
    font-size: 16px;
    column-gap: 10px;
}

.right-div > :last-child,
.right-div > :nth-last-child(2) {
    margin-right: 10px;
    cursor: pointer;
}

.hero-section {
    background-image: url('/static/images/hero_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
    width: 100%;
    /* text-align: center;  */
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-indent: 10px;
    margin-bottom: 10px;
    /* 之後再看怎麼調整先救火  */
}

.hero-text h2 {
    font-size: 28px;
    color: #F8F8F8;
    box-shadow: 0px 0px 30px 0px #AABBCC;
    width: 320px;
    font-weight: bold;
}

.hero-region {
    padding: 10px;
    gap: 10px;
    height: 170px;
    flex-direction: column;
}

.hero-text p {
    font-size: 16px;
    color: #F8F8F8;
}

.search {
    height: 45px;
    display: flex;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-form input[type="text"] {
    width: 225px;
    height: 45px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin: 0;
    text-indent: 10px;
    box-shadow: 0px 0px 20px 0px #ABC;
    /* 這可以記起來！ */
}
/* .fa-search {
    width: 60px;
    height:49px;
    border: 1px solid #448899;
    background: #448899;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  } */
.search-button{
    width: 60px;
    height:49px;
    background-color: #448899;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
#search-button {
    width: 60px;
    height:49px;
    background-color: #448899;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.widthcontrol{
 width:100%;  
 display:flex; 
 margin-top: 10px;
}
.list-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
.list div{
    flex:auto;
}
.left-button{
    width:20px;
    height:20px;
    padding:5px;
    cursor: pointer;
    border-radius:50%;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}
#right-button{
    border-radius:50%;
    width:20px;
    height:20px;
    padding:5px;
    cursor: pointer;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-radius:50%;
}

/* .arrow-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
} */
.wrapper {
    display: flex;
    justify-content: center;
}
.list {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    text-indent: 15px;
}
.list div {
    cursor: pointer;
    white-space: nowrap; /* 不換行 */
  }
.listbar-center {
    display: flex;
    justify-content: center;
}


.content {
    width: 90%;
    align-items: center;
}

.content2 {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    column-gap: 20px;
    /* width:25%; */
    row-gap: 20px;

}

.titlepic {
    position: relative;
}

.overlay {
    display: flex;
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #3232329f;
    align-items: center;
}
.overlay p{
    padding: 10px;
}
.titlediv {
    color: #FFFFFF;
}
.title p {
    display: flex;
    padding: 10px;
}
.titlepic img {
    cursor: pointer;
    width: 100%;
    height:200px;
    margin-top: 20px;
    display: block;
    position: relative;
    border-top: 0.5px solid #ccc;
    border-color: lightgray;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    object-position: center;
    background-size: 100% 100%;
}

.title {
    width: 100%;
    background-color: #FFFFFF;
    color: #757575;
    text-align: center;
    height: 45px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    border-radius: 0 0 5px 5px;
    border-bottom: 0.5px solid #ccc;
    border-top: 0.5px solid #ccc;
    border-color: lightgray;
    border-width: 0.5px;
    border-style: solid;
}

.title p {
    color: #757575;
}

.topcenter {
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    font-size: 16px;
    background-color: #757575;
    color: #ffff;
    height: 105px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    line-height: 50px;
}
@media screen and (min-width: 800px) and (max-width: 1200px){
    .titlepic img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        height:350px;
    }
    .content2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width:100%;
        align-items: end;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    /* 原先600~1200 */
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .content2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width:100%;
        align-items: end;
    }
    .titlepic img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        height:250px;
    }
}

@media screen and (min-width: 1200px) {
    .top {
        width: 1200px;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .hero-section {
        display: flex;
        justify-content: center;
    }

    .hero-region {
        display: flex;
        width: 1200px;
    }

    .hero-center {
        display: flex;
        justify-content: center;
    }

    .list-bar {
        width: 1200px;
    }
    .widthcontrol{
        width:1200px;  
        display: flex; 
        margin-top:10px;
       }
    .listbar-center {
        display: flex;
        justify-content: center;
    }

    .content {
        width: 1200px;
        display: flex;
    }

    .content2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
    }

    .titlepic img {
        width: 100%;
        height: 235px;
    }

    footer {
        position: absolute;
        font-size: 16px;
        background-color: #757575;
        color: #ffff;
        height: 105px;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        position: relative;
        left: 0;
        bottom: 0;
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        overflow-x:hidden;
        scroll-behavior: smooth;
    }
}