<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="topcenter">

        <div class="top">
            <div class="left-div">
                台北一日遊
            </div>
            <div class="right-div">
                <div>預定行程</div>
                <div>登入/註冊</div>
            </div>
        </div>
    </div>
    <div class="hero-center">
        <div class="hero-section">
            <div class="hero-region">
                <div class="hero-text">
                    <h2>輕鬆享受台北一日悠閒</h2>
                    <p>探索每個角落，體驗城市的深度旅遊行程</p>
                </div>
                <div class="search">
                    <form class="search-form">
                        <input type="text" placeholder="輸入景點名稱查詢">
                        <button class="search-button">🔍</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="listbar-center">
        <div class="list-bar">
            <button class="arrow-button left-button">←</button>
            <div class="list">
                <p>Item1</p>
                <p>Item2</p>
                <p>Item3</p>
                <p>Item4</p>
            </div>
            <button class="arrow-button right-button">→</button>
        </div>
    </div>

    <div class="wrapper">
        <div class="content">
            <div class="content2">
                <div class="titlepic">
                    <img src="{{ url_for('static', filename='images/mountain.jpg') }}" class="image" alt="Promotion 3">
                    <div class="overlay">
                        景點名稱
                    </div>
                    <div class="title">
                        <p>捷運站</p>
                        <p>景點描述</p>
                    </div>
                </div>
                <div class="titlepic">
                    <img src="{{ url_for('static', filename='images/mountain.jpg') }}" class="image" alt="Promotion 3">
                    <div class="overlay">
                        景點名稱
                    </div>
                    <div class="title">
                        <p>捷運站</p>
                        <p>景點描述</p>
                    </div>
                </div>
                <div class="titlepic">
                    <img src="{{ url_for('static', filename='images/mountain.jpg') }}" class="image" alt="Promotion 3">
                    <div class="overlay">
                        景點名稱
                    </div>
                    <div class="title">
                        <p>捷運站</p>
                        <p>景點描述</p>
                    </div>
                </div>
                <div class="titlepic">
                    <img src="{{ url_for('static', filename='images/mountain.jpg') }}" class="image" alt="Promotion 3">
                    <div class="overlay">
                        景點名稱
                    </div>
                    <div class="title">
                        <p>捷運站</p>
                        <p>景點描述</p>
                    </div>
                </div>
                <div class="titlepic">
                    <img src="{{ url_for('static', filename='images/mountain.jpg') }}" class="image" alt="Promotion 3">
                    <div class="overlay">
                        景點名稱
                    </div>
                    <div class="title">
                        <p>捷運站</p>
                        <p>景點描述</p>
                    </div>
                </div>
                <div class="titlepic">
                    <img src="{{ url_for('static', filename='images/mountain.jpg') }}" class="image" alt="Promotion 3">
                    <div class="overlay">
                        景點名稱
                    </div>
                    <div class="title">
                        <p>捷運站</p>
                        <p>景點描述</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
</body>

</html>